.container {
    background-image: url('/Users/nastya/Desktop/Project/image/Rectangle .png');
    position: absolute;
    width: 1800px;
    height: 800px;
    left: 0px;
    top: 0px;

}

.list_1 {
    position: absolute;

    font-family: 'ReformaGroteskMediumC';
    font-style: normal;
    font-weight: 400;
    top: 40px;
    left: 150px;
    font-size: 13px;
    line-height: 120%;
    color: #fff;
    width: 100px;
    height: 29px;
}

.list_2 {
    position: absolute;

    font-family: 'ReformaGroteskMediumC';
    font-style: normal;
    font-weight: 400;
    top: 40px;
    margin-left: 250px;
    margin-right: 20px;
    font-size: 13px;
    line-height: 120%;
    color: #fff;

}

.list_3 {
    position: absolute;
    display: flex;
    font-style: normal;
    font-weight: 400;
    left: 440px;
    font-size: 13px;
    line-height: 100%;
    color: #fff;
    width: 190px;
    height: 10px;
    top: 43px;
}

.list_4 {
    position: absolute;
    display: flex;
    font-family: 'ReformaGroteskMediumC';
    font-style: normal;
    font-weight: 400;
    top: 43px;
    left: 645px;
    font-size: 13px;
    line-height: 120%;
    color: #fff;
    width: 130px;
    height: 29px;
}

.image {
    position: absolute;
    width: 483px;
    height: 188px;
    left: 3px;
    top: 150px;

    font-style: normal;
    font-weight: 700;
    font-size: 150px;
    line-height: 125%;
}

.burger_1 {
    position: absolute;
    width: 40px;
    height: 3px;
    left: 1568px;
    top: 42px;
    background: #DB3138;
}

.burger_2 {
    position: absolute;
    width: 40px;
    height: 3px;
    left: 1558px;
    top: 53px;
    background: #DB3138;
}

.burger_3 {
    position: absolute;
    width: 40px;
    height: 3px;
    left: 1568px;
    top: 64px;
    background: #DB3138;
}

.red_logo {

    position: absolute;
    width: 10px;
    height: 10px;
    left: 811px;
    top: 380px;
}

.red_logo_1 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 852px;
    top: 380px;
}

.red_logo_2 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 897.14px;
    top: 380px;
}

.red_logo_3 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 942.21px;
    top: 380px;
}

.fish {
    position: absolute;
    width: 748px;
    height: 96px;
    left: 550px;
    top: 415px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #fff
}

.services {
    position: absolute;
    width: 100px;
    height: 55px;
    left: 888px;
    top: 545px;
}

.services_1 {
    position: absolute;
    color: #fff;
    width: 200px;
    height: 34px;
    left: 868px;
    top: 545px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.hero {

    position: absolute;
    display: flex;
    max-width: 50px;
    height: 1800px;
    left: 0px;
    top: 800px;
}

.block {
    position: absolute;
    width: 1920px;
    height: 0px;
    left: 0px;
    top: 650px;
    opacity: 0.5;
}

p {
    position: absolute;
    width: 45px;
    height: 25px;
    left: 190px;
    top: 14px;
    color: #fff;
}

.red_fish {
    position: absolute;
    width: 249px;
    height: 68px;
    left: 121px;
    top: 48px;
    color: #DB3138
}
.block_2{
    position: absolute;
width: 1920px;
height: 0px;
left: 0px;
top: 128px;
}
.line{
    border-left: 3px solid rgb(244, 247, 244);
    height: 128px;
opacity: 0.5;
position: absolute;
 width: 10px;
left: 411px;
top: 657px;
margin-top: 1px;
}